[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
phonenumbers = "*"
spacy-transformers = "*"
nltk = "*"
snorkel = "*"
transformers = "*"
inflect = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
